# venv
venv

# media & static
media
static

# md files
*.md

# pem files
*.pem

# Unit test & pytest / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
pytest.xml
pytest-coverage.txt
.pytest_cache